body {
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Exo+2:wght@500&display=swap');

/* Setting Title and Header Fonts */
.content h1 {
    font-family: 'Exo 2', sans-serif;
    font-size: 1.8em;
}

.content h2 {
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
    font-size: 1.4em;
}

.content h3 {
   font-family: 'Exo 2', sans-serif;
    font-size: 1.2em;
}

.inline-title {
    font-family: "Turret Road";
    font-size: 0.8em;
    text-align: center;
}

.content {
    font-family: 'Dosis', sans-serif;
    }

}
